.app_dark_theme {
  --bg-color: #563838;
  --primary-color: #f1e0d6;
  --secondary-color: #bf988f;
  --inverted-bg-color: #f2eaed;
  --inverted-primary-color: #16235a;
  --inverted-secondary-color: #888c46;
}
