:root {
  --bg-color: #f2eaed;
  --primary-color: #16235a;
  --secondary-colorn: #888c46;
  --inverted-bg-color: #563838;
  --inverted-primary-color: #f1e0d6;
  --inverted-secondary-color: #bf988f;
}
