:root {

  /* Шрифты */

  /* Размеры */
  --navbar-height: 50px;

  /* Transitions */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;

  /* Z-индексы */
  --modal-z-index: 10px;

  /* Цвета */
  --overlay-color: rgba(0 0 0 / 60%);
}
